@font-face {
  font-family: 'Lato';
  src: local('Lato Light'), local('Lato-Light'), url('./fonts/latolight.woff2') format('woff2'), url('./fonts/latolight.woff') format('woff'), url('./fonts/latolight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Regular'), local('Lato-Regular'), url('./fonts/latoregular.woff2') format('woff2'), url('./fonts/latoregular.woff') format('woff'), url('./fonts/latoregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Bold'), local('Lato-Bold'), url('./fonts/latobold.woff2') format('woff2'), url('./fonts/latobold.woff') format('woff'), url('./fonts/latobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Black'), local('Lato-Black'), url('./fonts/latoblack.woff2') format('woff2'), url('./fonts/latoblack.woff') format('woff'), url('./fonts/latoblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  width: 1600px;
  height: 2925px;
  background: #FFFFFF;
  margin: auto;
}

.logos {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222222;
  color: 222222;
  padding-right: 240px;
  padding-left: 231px;
}

.logo {
  display: flex;
  gap: 41px;
}

.menu {
  display: flex;
  gap: 33px;
}

.shop_basket {
  display: none;
}

/* <section class="main__brand"> */
.main__brand {
  height: 764px;
  background: #F1E4E6;
  display: flex;
  align-items: center;
  gap: 63px;
}

.text__main__brand {
  font-family: 'Lato';
  font-style: normal;
  color: #222222;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

.text__main__brand h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.text__main__brand h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.text__main__brand__2stroka {
  display: flex;
  gap: 8px;
}

.text__new__color {
  color: #F16D7F;
  font-size: 37px;
  line-height: 44px;
}

/* <section class="hot__product"> */
.hot__product {
  margin: 0 230px;
  margin-top: 65px;
  margin-bottom: 96px;
  border: none;
  width: 1140px;
  display: grid;
  grid-template-columns: 360px 360px 360px;
  grid-template-rows: 260px 180px;
  row-gap: 30px;
  column-gap: 30px;
  justify-content: center;
}

.hot__product .position {
  width: 100%;
  height: 100%;
  position: relative;
}

.hot__product .position1 {
  width: 100%;
  height: 100%;
  position: relative;
}

.text__hot__product {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Lato';
  font-style: normal;
  text-align: center;
  background: rgba(33, 22, 22, 0.7);
}

.text__hot__product h2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.text__hot__product h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.border__hot__product {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hot__product1 .border__hot__product {
  background: url(img/chapter1.png);
}

.hot__product2 .border__hot__product {
  background: url(img/chapter2.png);
}

.hot__product3 .border__hot__product {
  background: url(img/chapter3.png);
}

.hot__product4 .border__hot__product {
  background: url(img/chapter4.png);
}

.big_product {
  grid-column: span 3;
}

/* <section class="products"> */
.products {
  margin: 0 auto;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.main__text__products {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
}

.main__p__products {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 48px;
}

.product {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: repeat(2, 581px);
  row-gap: 30px;
  column-gap: 30px;
}

.all__product {
  display: flex;
  flex-direction: column;
  background: #F8F8F8;
}

.border_button {
  display: none;
}

.product2_another {
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F7E4E2;
}

.title__price {
  height: 160px;
  display: flex;
  justify-content: space-between;
  padding: 24px 29px 20px 16px;
  flex-direction: column;
}

.title__price h1 {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.title__price p {
  width: 314.74px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.title__price h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.BrowseAll {
  margin-top: 49px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  background: #FFFFFF;
  border: 1px solid #FF6A6A;
  cursor: pointer;
  width: 211px;
  height: 47px;
}

@media (min-width:768px) and (max-width:1024px) {
  .container {
    width: 768px;
    height: 2976px;
    overflow-y: scroll;
  }

  .logos {
    height: 74px;
    padding: 0 32px;
  }

  .menu {
    gap: 25px;
  }

  .menu__basket {
    margin-left: 17px;
  }

  .shop_basket {
    display: block;
  }

  .shop_basket img {
    position: relative;
    left: -186%;
    top: 3%;
  }

  .shop_basket p {
    position: relative;
    left: -155%;
    top: -50%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
  }

  /* <section class="main__brand"> */
  .main__brand {
    height: 367px;
    gap: 39px;
  }

  .main__brand img {
    height: 367px;
  }

  .text__main__brand h1 {
    font-size: 44px;
    line-height: 53px;
  }

  .text__main__brand h2 {
    font-size: 24px;
    line-height: 29px;
  }

  /* <section class="hot__product"> */
  .hot__product {
    margin: 0 16px;
    margin-bottom: 110px;
    margin-top: 65px;
    width: 736px;
    grid-template-columns: 232px 232px 232px;
    grid-template-rows: 168px 116px;
    row-gap: 20px;
    column-gap: 20px;
  }

  .hot__product1 .border__hot__product {
    background-size: contain;
  }

  .hot__product2 .border__hot__product {
    background-size: contain;
  }

  .hot__product3 .border__hot__product {
    background-size: contain;
  }

  .hot__product4 .border__hot__product {
    background-size: contain;
  }

  /* <section class="products"> */
  .products {
    margin-bottom: 71px;
  }

  .main__text__products {
    margin-bottom: 3px;
  }

  .main__p__products {
    margin-bottom: 73px;
  }

  .product {
    grid-template-columns: repeat(2, 360px);
    grid-template-rows: repeat(3, 581px);
    row-gap: 16px;
    column-gap: 16px;
  }

  .border_button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 360px;
    height: 420px;
    background: rgba(58, 56, 56, 0.86);
  }

  .buy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background: none;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    width: 138px;
    height: 43px;
  }

  .buy img {
    width: 26px;
    height: 24px;
  }

  .BrowseAll {
    margin-top: 33px;
  }
}